<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>常规信息</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>用户名称</string>
			<key>Key</key>
			<string>username</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>密码</string>
			<key>Key</key>
			<string>password</string>
			<key>IsSecure</key>
			<true/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>日记标题颜色</string>
			<key>Key</key>
			<string>diaryTitleColor</string>
			<key>DefaultValue</key>
			<string>black</string>
			<key>Titles</key>
			<array>
				<string>缺省颜色</string>
				<string>红色</string>
				<string>绿色</string>
				<string>蓝色</string>
			</array>
			<key>Values</key>
			<array>
				<string>black</string>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>启用登陆验证</string>
			<key>Key</key>
			<string>authentication</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>日记标题字号</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>diaryTitleFontSize</string>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>MinimumValue</key>
			<integer>17</integer>
			<key>MaximumValue</key>
			<integer>21</integer>
			<key>MinimumValueImage</key>
			<string>17.png</string>
			<key>MaximumValueImage</key>
			<string>21.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>扩展信息</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>更多设置</string>
			<key>Key</key>
			<string></string>
			<key>File</key>
			<string>MoreSettings</string>
		</dict>
	</array>
</dict>
</plist>
